<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="cup_holde_tray_radius" value="0.178"/>
<xacro:property name="cup_holde_tray_height" value="0.09"/>
<xacro:property name="cup_holde_tray_mass" value="2"/>


<!-- Cup holder tray -->
<xacro:macro name="Cup_holder_tray" params="Cup_holder_tray_name">
  <link name="${Cup_holder_tray_name}">
    <visual>
        <geometry>
            <cylinder radius="${cup_holde_tray_radius}" length="${cup_holde_tray_height}"/>
        </geometry>
		<material name="blue"/>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="${cup_holde_tray_radius}" length="${cup_holde_tray_height}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="${cup_holde_tray_mass}"/>
      <!-- <inertia ixx="0.005064" ixy="0" ixz="0" iyy="0.005064" iyz="0" izz="0.0081"/> -->
      <inertia  ixx="${cup_holde_tray_mass*(3*cup_holde_tray_radius*cup_holde_tray_radius+cup_holde_tray_height*cup_holde_tray_height)/12}" ixy = "0" ixz = "0"
            iyy="${cup_holde_tray_mass*(3*cup_holde_tray_radius*cup_holde_tray_radius+cup_holde_tray_height*cup_holde_tray_height)/12}" iyz = "0"
            izz="${cup_holde_tray_mass*(cup_holde_tray_radius*cup_holde_tray_radius)/2}" />
    </inertial>

  </link>
</xacro:macro>
</robot>   